<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/partials.html :: styleHead"></head>
<body>
<header th:include="partials/partials.html :: header"></header>

<main>
    <div class="container">
        <div  id="ajaxPost" class="row">

        </div>
    </div>
</main>

<footer th:include="partials/partials.html :: pageFooter"></footer>
<div th:replace="partials/partials.html :: scripts"></div>
<script th:src="@{/js/posts.js}"></script>
</body>
</html>