<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/partials.html :: styleHead"><title>Create Page</title></head>

<body>
<main>
    <header th:include="partials/partials.html :: header"></header>


    <div class="row" id="formContainer">
    <form class="col s12" id="createForm" action="/post/create" method="POST">
        <div class="row">
            <div class="input-field col s6">
                <input name="author" id="author" type="text" class="validate">
                <label for="author">Author Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input name="title" id="title" type="text" class="validate">
                <label for="title">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input name="body" id="body" type="text" class="validate">
                <label for="body">Body</label>
            </div>
        </div>
        <button>Submit</button>
    </form>
</div>
</main>
<div th:replace="partials/partials.html :: scripts"></div>

</body>
</html>