<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/partials.html :: styleHead"></head>


<body>
<header th:include="partials/partials.html :: header"></header>
<main>
    <div class="container">
        <div class="row">
            <div class="col s12" th:each="post : ${page}">
                <div class="card darken-1 hoverable">
                    <div class="card-content">
                        <p th:text="${post.date.toString().substring(0, 11)}" class="right"></p>
                        <span class="card-title center-align" th:text="${post.title}"></span>
                        <div class="divider"></div>
                        <p th:text="${post.body}"></p>
                    </div>
                    <div class="card-action">
                        <h4 th:text="${post.author}" class="left grey-text"></h4>
                        <a th:href="@{/post/{id}(id=${post.id})}"><button class="waves-effect waves-light btn moreButton">See More</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

    <nav class="flexCenter">
        <ul class="pagination">
            <li th:class="${page.isFirst()}? 'disabled' : ''">
                <span th:if='${page.isFirst()}'>← First</span>
                <a th:if='${not page.isFirst()}' th:href="'?page=0'">
                    ← First
                </a>
            </li>
            <li th:class="${page.hasPrevious()}? '' : 'disabled'">
                <span th:if='${not page.hasPrevious()}'>«</span>
                <a
                        th:if='${page.hasPrevious()}'
                        th:href="'?page=' + ${page.getNumber() - 1}"
                        title='Go to previous page'
                >
                    «
                </a>
            </li>
            <li th:each="i : ${#numbers.sequence(1, page.getTotalPages())}">
                <span
                        th:if='${(i - 1) == param.page}'
                        th:text='${i}'>
                    1
                </span>
                <a
                        th:if='${not ((i - 1) == param.page)}'
                        th:href="'?page=' + ${(i -1)}"
                >
                    <span th:text='${i}'>1</span>
                </a>
            </li>
            <li th:class="${page.hasNext()} ? '' : 'disabled'">
                <span th:if='${not page.hasNext()}'>»</span>
                <a
                        th:if='${page.hasNext()}'
                        th:href="'?page=' + ${page.getNumber() + 1}"
                        title='Go to next page'
                >
                    »
                </a>
            </li>
            <li th:class="${page.isLast()}? 'disabled' : ''">
                <span th:if='${page.isLast()}'>Last →</span>
                <a
                        th:if='${not page.isLast()}'
                        th:href="'?page=' + ${page.getTotalPages() - 1}"
                >
                    Last →
                </a>
            </li>
        </ul>
    </nav>
<footer th:include="partials/partials.html :: pageFooter"></footer>
<div th:replace="partials/partials.html :: scripts"></div>
</body>
</html>