<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/partials.html :: styleHead"></head>

<body>
<header th:include="partials/partials.html :: header"></header>

<main>
    <div class="container" id="formGrow">
        <div class="row formHolder">
            <div class="col s12 formHolder">
                <div class="card darken-1 formHolder">
                    <div class="card-content">
                        <p th:text="${post.date.toString().substring(0, 11)}" class="right"></p>
                        <span class="card-title" th:text="${post.title}"></span>
                        <div class="divider"></div>
                        <p th:text="${post.body}"></p>
                    </div>
                    <div class="card-action">
                        <h4 class="left grey-text" th:text="${post.author}"></h4> <!--this will be the user name later-->
                        <button th:replace="partials/partials.html :: deleteModal">Delete</button>
                        <span class="activator" id="revealForm"><i class="material-icons">border_color</i></span>
<!--                        <h6 th:text="${post.user.username}"></h6> &lt;!&ndash;This will be moved to the post author later&ndash;&gt;-->
                        <h6 th:text="${post.user.email}"></h6>
                    </div>
                    <div class="card-reveal" id="editContainer">
                        <span class="card-title" id="closeForm"><i class="material-icons right">close</i></span>

                        <div id="formContainer">
                            <form th:insert="partials/partials.html :: editAndCreateForm" id="editForm" th:action="@{/post/edit}" th:object="${post}" th:method="Post"></form>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="partials/partials.html :: pageFooter"></footer>

<div th:replace="partials/partials.html :: scripts"></div>
</body>
</html>