<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/partials.html :: styleHead"></head>

<body>
<header th:include="partials/partials.html :: header"></header>
<main>
    <h1>Here You Will Find Links to My personal Projects</h1>

    <a target="_blank" class="personalLinks" href="/weather">View The Weather Map</a><br>
    <a target="_blank" class="personalLinks" href="https://mdbaker19.github.io/MasterMind-project/">Master Mind</a><br>
    <a target="_blank" class="personalLinks" href="https://mdbaker19.github.io/Visual-Sorting-algo/sorting.html">Sorting Visualizer</a><br>
</main>

<footer th:include="partials/partials.html :: pageFooter"></footer>
<div th:replace="partials/partials.html :: scripts"></div>

</body>
</html>