<html xmlns:th="http://www.thymeleaf.org" lang="en">


<head th:fragment="styleHead">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/global.css}">
    <title th:text="${title}"></title>
</head>

<header th:fragment="header">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"><i class="material-icons">pets</i></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a class="waves-effect waves-light btn modal-trigger center-align" id="searchButton" href="#searchModal"><i class="material-icons">search</i></a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/postPage">See All posts</a></li>
                <li><a href="/post/create">Create Post</a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a class="waves-effect waves-light btn modal-trigger" id="searchButton2" href="#searchModal"><i class="material-icons">search</i></a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/postPage">See All posts</a></li>
        <li><a href="/post/create">Create Post</a></li>
    </ul>

    <div id="searchModal" class="modal">
        <form action="/post/search" method="get" id="searchForm">
            <input type="text" name="searchValue" id="searchFormInput"/>
            <input type="submit" id="searchSubmit">
        </form>
    </div>

</header>






<div th:fragment="deleteModal" th:remove="tag">
    <a class="waves-effect waves-light btn modal-trigger deleteButton" href="#modal1">Delete</a>

    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Are You Sure you want to delete this post?</h4>
        </div>
<!--        <form th:action="@{/post/delete/{id}(id=${myPost.id})}" method="post">-->
<!--            <button class="modal-close waves-effect waves-green btn-flat">Delete</button>-->
<!--        </form>-->
        <a th:href="@{/post/delete/{id}(id=${myPost.id})}" class="modal-close waves-effect waves-green btn-flat">Delete</a>
    </div>
</div>





<footer class="page-footer" id="foot" th:fragment="pageFooter">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="">Germsky Blog</h5>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="">German Shepherd Husky </h5>
                <ul>
                    <li><a href="/">All about the puppies</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
        </div>
    </div>
</footer>

<footer class="page-footer" th:fragment="diceFooter">
    <div class="container">
        <div class="row">
            <div class="col l8 offset-l2 s12">
                <h5 class="">Choose Guess</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/roll-dice/1">1</a></li>
                    <li><a class="grey-text text-lighten-3" href="/roll-dice/2">2</a></li>
                    <li><a class="grey-text text-lighten-3" href="/roll-dice/3">3</a></li>
                    <li><a class="grey-text text-lighten-3" href="/roll-dice/4">4</a></li>
                    <li><a class="grey-text text-lighten-3" href="/roll-dice/5">5</a></li>
                    <li><a class="grey-text text-lighten-3" href="/roll-dice/6">6</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>






<div th:fragment="scripts" th:remove="tag">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
        $(document).ready(function (){
            $(".sidenav").sidenav();
            $(".parallax").parallax();
            $(".modal").modal();
            $("#revealForm").on("click", function (){
               $("#formGrow").css("height", "100vh");
            });
            $("#closeForm").on("click", function (){
                $("#formGrow").css("height", "auto");
            });
        });
    </script>
</div>
