<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/partials.html :: styleHead"></head>

<body>
<header th:include="partials/partials.html :: header"></header>

    <main>

        <h1>Welcome <span th:text="${user.username}"></span></h1>

        <div class="container">
            <div class="row">
                <div class="col s12" th:each="post : ${posts}">
                    <div class="card darken-1 hoverable">
                        <div th:if="${post.image != null}" class="card-image">
                            <img th:src="${post.image}" alt="nothing">
                        </div>
                        <div th:if="${post.image == null}" class="card-image">
                            <img th:src="@{/img/snow.jpg}" alt="nothing">
                        </div>
                        <div class="card-content">
                            <p th:text="${post.date.toString().substring(0, 11)}" class="right"></p>
                            <span class="card-title center-align" th:text="${post.title}"></span>
                            <div class="divider"></div>
                            <p th:text="${post.body}"></p>
                        </div>
                        <div class="card-action">
                            <a th:href="@{/post/{id}(id=${post.id})}"><button class="waves-effect waves-light btn moreButton">See More</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>


    <footer th:include="partials/partials.html :: pageFooter"></footer>
    <div th:replace="partials/partials.html :: scripts"></div>
</body>

</html>