<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Answer page</title>
</head>
<body>
<form action="calc" method="post">
    <label>
        Enter your operator (add, subtract, divide, multiply)
        <input name="op"/>
    </label>
    <label>
        Enter num 1
        <input name="n1"/>
    </label>
    <label>
        Enter num2
        <input name="n2"/>
    </label>
    <button type="submit">Answer</button>
</form>

<!-- Dropdown Trigger -->
<a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Drop Me!</a>

<!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">three</a></li>
    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
</ul>

    <h1>The answer is <span th:text="${answer}"></span></h1>


</body>
</html>