<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dice Game</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<nav th:include="partials/partials.html :: navbar"></nav>

<div th:if="${guess}">
    <h3>You Rolled a <span th:text="${guess}"></span>, Roll was <span th:text="${pick}"></span>, you were <span th:text="${outcome}"></span></h3>
    <h3>You have been right <span th:text="${count}"></span> time(s)</h3>
    <div style="display: flex; justify-content: space-around; width: 100vw">
        <h3>Your guesses</h3>
        <div th:each="guess : ${allGuesses}">
            <p th:text="${guess}"></p>
        </div>
    </div>
</div>

<footer th:include="partials/partials.html :: diceFooter"></footer>
</body>
</html>