<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:include="partials/partials.html :: styleHead"></head>
<body>
<header th:include="partials/partials.html :: header"></header>

<main>
    <h1>Sorry, <span th:text="${error}"></span> . Here is a cute puppy</h1>
    <div id="errorImage">
        <img th:src="@{/img/puppy.jpg}" width="500px" height="500px"/>
    </div>
    <a href="/" id="normalAnchor">Go Home</a>
</main>

<div th:replace="partials/partials.html :: scripts"></div>

</body>
</html>