<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="partials/partials.html :: styleHead"></head>
<body>
    <header th:include="partials/partials.html :: header"></header>
<main>



    <div class="parallax-container">
        <div class="parallax"><img th:src="@{/img/huskyBanner.jpeg}" id="topHalfImageMain"></div>
    </div>

    <div class="section white mainSection">
        <div class="row container">

            <div class="card col s12 m6">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" th:src="@{/img/nature.jpg}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>

            <div class="card col s12 m6">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" th:src="@{/img/nature.jpg}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>

        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax" id="bottomHalfImageMain">
            <img th:src="@{/img/huskyBanner.jpeg}">
        </div>
    </div>


    <div class="section white mainSection">
        <div class="row container">

            <div class="card col s12 m6">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" th:src="@{/img/nature.jpg}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>

            <div class="card col s12 m6">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" th:src="@{/img/nature.jpg}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>

        </div>
    </div>

<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col s12" th:each="post : ${posts}">-->
<!--                <div class="card blue-grey darken-1">-->
<!--                    <div class="card-content white-text">-->
<!--                        <span class="card-title" th:text="${post.title}"></span>-->
<!--                        <p th:text="${post.body}"></p>-->
<!--                    </div>-->
<!--                    <div class="card-action">-->
<!--                        <h3 th:text="${post.author}"></h3>-->
<!--                        <p th:text="${post.date.toString().substring(0, 11)}"></p>-->
<!--                        <a th:href="@{/post/{id}(id=${post.id})}"><button class="waves-effect waves-light btn">See More</button></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

</main>

<footer th:include="partials/partials.html :: pageFooter"></footer>
<div th:replace="partials/partials.html :: scripts"></div>

</body>
</html>