<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/partials.html :: styleHead"></head>
<body>
    <header th:include="partials/partials.html :: header"></header>

<main>

    <div class="parallax-container">
        <div class="parallax" id="topHalfImageMain">
            <img alt="dogImage" th:src="@{/img/huskyBanner.jpeg}">
        </div>
    </div>

    <div class="section homeSection">
        <div class="row homeRow">
            <div th:each="i : ${#numbers.sequence(0, 2)}" th:classappend="${i == 1 ? 'hide-on-small-only' : ''}" th:attr="class=${i == 2 ? 'card homeCard col s12 m6 l4 hide-on-med-and-down' : 'card homeCard col s12 m6 l4'}">
                <th:block th:include="partials/partials.html :: homeCardTop"></th:block>
            </div>
        </div>

    </div>
    <div class="parallax-container">
        <div class="parallax" id="bottomHalfImageMain">
            <img alt="dogImage" th:src="@{/img/huskyBanner.jpeg}">
        </div>
    </div>

    <div class="section homeSection">
        <div class="row homeRow">
            <div th:each="i : ${#numbers.sequence(3, 5)}" th:classappend="${i == 4 ? 'hide-on-small-only' : ''}" th:attr="class=${i == 5 ? 'card homeCard col s12 m6 l4 hide-on-med-and-down' : 'card homeCard col s12 m6 l4'}">
                <th:block th:include="partials/partials.html :: homeCardTop"></th:block>
            </div>

        </div>
    </div>

</main>

<footer th:include="partials/partials.html :: pageFooter"></footer>
<div th:replace="partials/partials.html :: scripts"></div>

</body>
</html>