* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #606c38;
}
nav{
    background-color: #283618 !important;
    color: #fefae0 !important;
}
main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.deleteButton{
    background: none !important;
    border: none !important;
    color: #dda15e !important;
}
.activator:hover{
    cursor: pointer !important;
}
footer{
    background-color: #bc6c25 !important;
    color: #fefae0 !important;
}
#formContainer{
    height: 85vh;
}
#createForm{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#edit{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#searchBar{
    margin-left: 70px !important;
    width: 35% !important;
}
.card-action{
    display: flex;
    justify-content: space-around;
}
.formLabel{
    text-align: center !important;
    font-size: 20px !important;
}
.formLabelEdit{
    font-size: 20px !important;
}
.customInput{
    padding: 10px !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.formHolder{
    height: 100% !important;
}
#formGrow{
    height: auto;
    max-width: 730px !important;
}
.textBody{
    height: 60%;
    width: 100%;
}
#editForm{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#bottomHalfImageMain{
    bottom: 300px !important;
}